name: Eslint
on:
  push:
    branches: 
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run lint
